<app-card>
  <div header>
    <app-toolbar>
      <div left>
        <h1 class="text-2xl font-bold mb-4">Edit Test Details</h1>
      </div>
      <div right>
        <button type="button" class="mr-4" [disabled]="processing$()" (click)="handleSaveTest()">Save</button>
      </div>
    </app-toolbar>
  </div>

  <div content>
    <pre>{{ currentQuestion$() | json }}</pre>
  </div>

  <div footer>
    @if (processing$()) {
      <h3 class="alert">Saving...</h3>
    }

    @if (saveStatus$().success) {
      <h3 class="success">Test saved successfully.</h3>
    }

    @if (saveStatus$().error) {
      <h3 class="alert">An error occurred while saving the test. Please try again.</h3>
    }
  </div>
</app-card>
