/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer base {
    .alert {
        color: var(--color-red-500);
        font-weight: var(--font-weight-semibold);
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
    }
}