@let vm = vm$ | async; @if (vm && vm.quiz) {
<h1 class="text-xl font-bold">{{ vm.quiz.title }}</h1>
@if (vm.quiz.description.trim().length > 0) {
    <h2 class="text-lg font-semibold text-gray-700">{{ vm.quiz.description }}</h2>
}

@if (vm.test?.isSubmitted) {
    <h3 class="text-md font-medium text-gray-500">
        Score: {{ vm.test?.score }} / {{ maxScore$() }} : {{ scorePercent$() }}%
    </h3> 
} @else {
    <h3 class="text-md font-medium text-gray-500">
        Time Remaining: {{ (vm.quiz.timeLimit - vm.elapsedTime) * 1000 | date:'HH:mm:ss':'UTC' }}
    </h3> 
}

@if (vm.displayErrors && vm.form.invalid) {
    <div class="alert">
        Unable to submit.
        <br class="sm:hidden" />
        Correct the errors and try again.
    </div>
}

<form [formGroup]="vm.form" class="mt-4 mb-4">
    <section class="mt-4" formArrayName="questions">
        @if (vm.quiz.questions.length > 0) {
            @for (question of vm.quiz.questions; track question; let i = $index) { 
                <section
                    class="question p-4 mb-4 bg-gray-50 border border-gray-200 rounded"
                    [formGroupName]="i"
                    [class.bg-green-50]="vm.test?.isSubmitted && isQuestionCorrect(question)"
                    [class.bg-red-50]="vm.test?.isSubmitted && !isQuestionCorrect(question)">

                    <h2 class="text-lg font-semibold flex flex-col md:flex-row">
                        <div class="flex flex-col md:flex-row w-full">
                            @if (question.required) {
                                <div class="alert md:ml-auto">Required</div>
                            }
                            <div class="w-full">{{ question.prompt }}</div>
                        </div>
                        <div class="text-sm font-medium md:ml-auto">
                            @if (vm.test?.isSubmitted) {
                                Points: {{ isQuestionCorrect(question) ? question.pointValue : 0 }} / {{ question.pointValue }}
                            }
                        </div>
                    </h2>
                    @for (answer of question.answers; track answer) {
                        <ul class="mt-2">
                            <li>
                                <label class="flex items-center">
                                @if (vm.test?.isSubmitted) {
                                    @if (isAnswerCorrect(question, answer.id)) {
                                        <span class="text-green-500 mr-2 w-4 text-center">✔</span>
                                    } @else {
                                        <span class="text-red-500 mr-2 w-4 text-center">✘</span>
                                    }
                                }
                                <input
                                    type="radio"
                                    formControlName="answer"
                                    [value]="answer.id"
                                    class="mr-2"
                                />
                                    {{ answer.value }}
                                </label>
                            </li>
                        </ul>
                    }
                </section>
            }
        } @else {
            <p>No questions available for this quiz.</p>
        }
    </section>

    @if (!vm.test?.isSubmitted) {
        <div class="flex flex-col md:flex-row justify-start mt-4">
            <button
                type="button"
                class="w-full md:w-32 mr-4 mb-4 border border-gray-700 bg-gray-800 text-white p-2 rounded hover:bg-gray-700"
                (click)="handleSave()">Save</button>
            <button
                type="button"
                class="w-full md:w-32 md:ml-auto mb-4 border border-gray-700 bg-gray-800 text-white p-2 rounded hover:bg-gray-700"
                (click)="handleSubmit()">Submit</button>
        </div>
    }
</form>
}
