@let vm = vm$ | async; @if (vm && vm.quiz) {
<h1 class="text-xl font-bold">{{ vm.quiz.title }}</h1>
@if (vm.quiz.description.trim().length > 0) {
    <h2 class="text-lg font-semibold text-gray-700">{{ vm.quiz.description }}</h2>
}

<form [formGroup]="vm.form" class="mt-4 mb-4">
    <section class="mt-4" formArrayName="questions">
        @if (vm.quiz.questions.length > 0) {
            @for (question of questions.controls; track question; let i = $index) {
                <section class="question p-4 mb-4 bg-gray-50 border border-gray-200 rounded" [formGroupName]="i">
                    <h2 class="text-lg font-semibold">{{ question.get('prompt')?.value }}</h2>
                    @for (answer of answers(question).controls; track answer; let j = $index) {
                        <ul class="mt-2">
                            <li>
                                <label class="flex items-center">
                                <input
                                    type="radio"
                                    [formControlName]="'selectedAnswer'"
                                    [value]="answer.value"
                                    class="mr-2"
                                />
                                <pre>{{ answer.value.value }}</pre>
                                </label>
                            </li>
                        </ul>
                    }
                </section>
            }
        } @else {
            <p>No questions available for this quiz.</p>
        }
    </section>

    <div class="flex flex-col md:flex-row justify-start mt-4">
        <button
            type="button"
            class="w-full md:w-32 mr-4 mb-4 border border-gray-700 bg-gray-800 text-white p-2 rounded hover:bg-gray-700"
            (click)="handleSave()">Save</button>
        <button
            type="button"
            class="w-full md:w-32 md:ml-auto mb-4 border border-gray-700 bg-gray-800 text-white p-2 rounded hover:bg-gray-700"
            (click)="handleSubmit()">Submit</button>
    </div>
</form>
}
